@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #f9cd2e; /* your company color */
  border-radius: 9999px; /* fully rounded */
}

::-webkit-scrollbar-track {
  background: black; /*background behind scrollbar*/
}

/* For Firefox */
* {
  scrollbar-width:thin;
  scrollbar-color: #ffcc00 #6d6e72;
}
